{% extends "./base.html" %}

{% block content %}
<script> 

window.onload = function() {
  selectVersion('');
}

{% include 'version_selector.js' %} 
</script>

<form action="{% url 'add_device' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <label for="device">device type : </label>
    <select name="device" required onchange="selectVersion('')" id="device">
      <option disabled value selected>select device</option>
       {% for device in deviceChoises %}
        <option value="{{device.0}}">{{device.1}}</option>
      {% endfor %}
      </select>
    <span id="versions"></span>
  <br><br>
  <label for="serial">serial number : </label>
  <input type="text" name="serial" id="serial" required/><br><br>
  <input type="submit" value="submit"/>
</form>

{% endblock %}
